{% extends 'DHISCommonBundle::layout.html.twig' %}

{% block page_title 'Sign in' %}
{% block product_name 'DHIS' %}
{% set nodisp_navbar = '' %}

{% block content %}
<div class="row">
  <div class="span8">
    {% include 'DHISCommonBundle::productMenu.html.twig' %}
  </div>

  <div class="span4">
    {% include 'DHISCommonBundle::signinBox.html.twig' %}
  </div>
</div>
{% endblock %}
