{% extends 'DHISSComDisBundle::layout.html.twig' %}

{% block page_title 'Outbreak - new - SComDis' %}
{% block product_name 'SComDis' %}
{% block content_title 'Outbreak - new' %}

{% set menu = 'SComDis' %}
{% set sidebar_menu = 'scomdis_outbreak_new' %}

{% block content %}
{% if app.request.session.hasFlash('error') %}
<div class="alert alert-error">
  {{ app.request.session.getFlash('error') }}
</div>
{% endif %}

<form action="{{ path('scomdis_outbreak_new') }}" method="post" class="form-horizontal">
  {{ form_errors(form) }}
  
  {% include "DHISSComDisBundle:Outbreak:_edit_header.html.twig" %}
  {% include "DHISSComDisBundle:Outbreak:_edit_items.html.twig" %}

  <input type="hidden" name="outbreak[_token]" value="{{ form._token.get('value') }}">

  <div class="form-actions">
    <input type="submit" class="btn btn-primary" value="Confirm">
  </div>
</form>
{% endblock %}


