{% extends 'DHISSComDisBundle::layout.html.twig' %}

{% block page_title 'Home - SComDis' %}
{% block product_name 'SComDis' %}
{% block content_title 'Welcome to SComDis!' %}
{% set menu = 'scomdis_home' %}

{% block content %}
  <p>Hello!</p><p>Welcome to SComDis!</p>
  <p>Choose the menu on the sidebar.</p>
{% endblock %}
