{% extends 'DHISAdminBundle::layout.html.twig' %}

{% block page_title 'Home - Admin' %}
{% block product_name 'Admin' %}
{% block content_title 'Home' %}
{% set menu = 'admin' %}

{% block content %}
  <p>Choose the menu on the sidebar.</p>
{% endblock %}