{% extends 'DHISAdminBundle::layout.html.twig' %}

{% block page_title 'Confirm group&apos;s profile - Admin' %}
{% block product_name 'Admin' %}
{% block content_title 'Confirm group&apos;s profile' %}

{% set menu = 'admin' %}
{% set sidebar_menu = 'admin_group_register' %}

{% block content %}

<table class="table table-striped table-bordered">
  <tbody>
    <tr>
      <th>Name</th>
      <td>{{ group.name }}</td>
    </tr>
    <tr>
      <th>Role</th>
      <td>{{ group.role }}</td>
    </tr>
  </tbody>
</table>

<form action="{{ path('admin_group_confirm') }}" method="post">
  <div class="form-actions">
      <a href=javascript:history:back() class="btn">&laquo; Back</a>
      <input type="submit" class="btn btn-primary" value="Submit">
  </div>
</form>
{% endblock %}
