{% extends 'DHISAdminBundle::layout.html.twig' %}

{% block page_title 'Registration Complete - Admin' %}
{% block product_name 'Admin' %}
{% block content_title 'Registration Complete' %}

{% set menu = 'admin' %}
{% set sidebar_menu = 'admin_group_rregister' %}

{% block content %}
<div class="alert alert-success">
  <p>Group registration complete.</p>
  <a href="{{ path ('admin_group') }}" class="btn">&laquo; Go to list</a>
  <a href="{{ path ('admin_group_register') }}" class="btn btn-success">Add more group</a>
</div>
{% endblock %}
