/* 
    Document   : content
    Created on : Jul 18, 2012, 7:56:44 PM
    Author     : Natsuki Hara <toconuts@gmail.com>
    Description:
        Purpose of the stylesheet follows.
*/

.navbar-inner {
    background: -moz-linear-gradient(center top , #665280 0%, #584064 100%) repeat scroll 0 0 transparent;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.15);
}

.navbar .nav > li:before {
    border-left: 1px solid #554466;
    content: " ";
    float: left;
    margin-top: 6px;
    padding: 14px 0;
}

.navbar .nav .active > a, .navbar .nav .active > a:hover {
    background-color: #48325A;
    color: white;
    text-decoration: none;
}

.input-daily-tally > input, textarea {
    width: 30px;
}

.hide {
    display: none;
}

#map-canvas img {
  max-width: none;
}

#map-canvas label {
  width: auto; display:inline; 
}