{% extends 'DHISSComDisBundle::layout.html.twig' %}

{% block page_title 'Syndromic Surveillance - PMH - SComDis' %}
{% block product_name 'SComDis' %}
{% block content_title 'Syndromic Surveillance - PMH - Confirmation' %}

{% set menu = 'SComDis' %}
{% set sidebar_menu = 'scomdis_admin_pmh' %}

{% block content %}
{% if app.request.session.hasFlash('success') %}
<div class="alert alert-success">
  {{ app.request.session.getFlash('success') }}
</div>
{% endif %}
{% if app.request.session.hasFlash('error') %}
<div class="alert alert-error">
  {{ app.request.session.getFlash('error') }}
</div>
{% endif %}

<table class="table table-striped table-bordered">
  <tbody>
    <tr>
      <th>Clinic</th>
      <td>{{ pmh.clinic }}</td>
    </tr>
  </tbody>
</table>

<form action="{{ path('scomdis_admin_pmh_confirm') }}" method="post">
  <div class="form-actions">
      <a href=javascript:history:back() class="btn">&laquo; Back</a>
      <input type="submit" class="btn btn-primary" value="Submit">
  </div>
</form>

{% endblock %}
