{% extends 'DHISAdminBundle::layout.html.twig' %}

{% block page_title 'User - Admin' %}
{% block product_name 'Admin' %}
{% block content_title 'Users' %}

{% set menu = 'admin' %}
{% set sidebar_menu = 'admin_user' %}

{% block content %}
  <p>Users will be listed bellow.</p>
{% endblock %}