{% extends 'DHISAdminBundle::layout.html.twig' %}

{% block page_title 'Home - Admin' %}
{% block product_name 'Admin' %}
{% block content_title 'Add user' %}

{% set menu = 'admin' %}
{% set sidebar_menu = 'admin_user_new' %}

{% block content %}
  <p>User form will be displayed.</p>
{% endblock %}